## Data Preparation

In [169]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [170]:
import pandas as pd
import src.utils.paths as path

In [171]:
movies_data_path = path.data_raw_dir('movies.csv')
finantial_data_path = path.data_raw_dir('finantials.csv')
opening_data_path = path.data_raw_dir('opening_gross.csv')

In [172]:
fin_data = pd.read_csv(finantial_data_path)
movie_data = pd.read_csv(movies_data_path)
opening_data = pd.read_csv(opening_data_path)

In [173]:
# Financial data
display(fin_data.head())
display(fin_data.dtypes)
print('Shape:', fin_data.shape)

,movie_name,domestic_gross,movie_link,production_budget,release_date,worldwide_gross,movie_title
0,Avatar,760507625,http://www.the-numbers.com/movie/Avatar#tab=su...,425000000,12/18/2009,2783918982,Avatar
1,Star Wars Ep. VII: The Force Awakens,936662225,http://www.the-numbers.com/movie/Star-Wars-Ep-...,306000000,12/18/2015,2058662225,Star Wars: Episode VII - The Force Awakens ...
2,Pirates of the Caribbean: At World's End,309420425,http://www.the-numbers.com/movie/Pirates-of-th...,300000000,5/24/2007,963420425,Pirates of the Caribbean: At World's End
3,Spectre,200074175,http://www.the-numbers.com/movie/Spectre#tab=s...,300000000,11/6/2015,879620923,Spectre
4,The Dark Knight Rises,448139099,http://www.the-numbers.com/movie/Dark-Knight-R...,275000000,7/20/2012,1084439099,The Dark Knight Rises

movie_name           object
domestic_gross        int64
movie_link           object
production_budget     int64
release_date         object
worldwide_gross       int64
movie_title          object
dtype: object

Shape: (4341, 7)

In [174]:
# Movie data
# cast_total_facebook_likes is presenting casting problems
# display(movie_data.dtypes == int)
display(movie_data.head())
display(movie_data.dtypes)
print('Shape:', movie_data.shape)

,title_year,aspect_ratio,duration,cast_total_facebook_likes,budget,imdb_score,gross,movie_title
0,2009.0,1.78,178.0,4834,237000000.0,7.9,760505847.0,Avatar
1,2007.0,2.35,169.0,48350,300000000.0,7.1,309404152.0,Pirates of the Caribbean: At World's End
2,2015.0,2.35,148.0,11700,245000000.0,6.8,200074175.0,Spectre
3,2012.0,2.35,164.0,106759,250000000.0,8.5,448130642.0,The Dark Knight Rises
4,NaN,NaN,NaN,143,NaN,7.1,NaN,Star Wars: Episode VII - The Force Awakens ...

title_year                   float64
aspect_ratio                 float64
duration                     float64
cast_total_facebook_likes      int64
budget                       float64
imdb_score                   float64
gross                        float64
movie_title                   object
dtype: object

Shape: (5043, 8)

In [175]:
# Opening data
display(opening_data.head())
display(opening_data.dtypes)
print('Shape:', opening_data.shape)

                   movie_title  opening_gross  screens
0       10 Days in a Madhouse          2451.0     10.0
1  10 Things I Hate About You       8330681.0   2271.0
2              102 Dalmatians      19883351.0   2704.0
3                   12 Rounds       5329240.0   2331.0
4            12 Years a Slave        923715.0     19.0

movie_title       object
opening_gross    float64
screens          float64
dtype: object

Shape: (2272, 3)

In [176]:
# numeric_columns_mask = (movie_data.dtypes == float) | (movie_data.dtypes == int)
# numeric_columns = [column for column in numeric_columns_mask.index if numeric_columns_mask[column]]
# movie_data = movie_data[numeric_columns+['movie_title']]

In [177]:
fin_data = fin_data[['movie_title', 'production_budget', 'worldwide_gross']]

In [178]:
fin_movie_data = pd.merge(fin_data, movie_data, on= 'movie_title', how='left')

In [179]:
full_movie_data = pd.merge(opening_data, fin_movie_data, on = 'movie_title', how='left')

In [180]:
full_movie_data[(full_movie_data.worldwide_gross != 0) & (full_movie_data.worldwide_gross.notnull())].shape

(2304, 12)

In [181]:
full_movie_data = full_movie_data.drop(['movie_title','gross'],axis=1)

In [182]:
full_movie_data.columns

Index(['opening_gross', 'screens', 'production_budget', 'worldwide_gross',
       'title_year', 'aspect_ratio', 'duration', 'cast_total_facebook_likes',
       'budget', 'imdb_score'],
      dtype='object')

In [183]:
full_movie_data.dtypes

opening_gross                float64
screens                      float64
production_budget              int64
worldwide_gross                int64
title_year                   float64
aspect_ratio                 float64
duration                     float64
cast_total_facebook_likes      int64
budget                       float64
imdb_score                   float64
dtype: object

In [184]:
full_movie_data.to_csv(path.data_processed_dir('full_data.csv'), index=False)

c:\Users\aleja\Python\ml_deployment\.venv\Lib\site-packages\pandas\core\internals\blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)